* {
    margin: 0;
    padding: 0;
}

/*HEADER*/

.logo {
    height: 100%; 
    width: auto;
    padding-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 160px;
    object-fit: contain;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent; 
    gap: 20px;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

header.scrolled {
    background-color: #142A57;
}

header.transparent li {
    color: #142A57;
}

header li {
    display: inline;
    padding: 0px 25px 0px 0px;
    text-align: center;
    margin: auto;
    text-wrap: nowrap;
}

header ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    height: inherit;
    padding: 0px 70px 0px 0px;
}

nav {
    height: inherit;
}

a:visited, a{
    color: white;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 2.5px solid transparent; 
}

nav a:hover{
    border-bottom: 2.5px solid currentColor; 
}

nav a.active {
    border-bottom: 2.5px solid currentColor; 
}

nav a.top {
    color: white;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    padding-right: 35px;
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #142A57; 
    margin: 5px 0;
    transition: 0.4s;
}

header.scrolled .hamburger-icon span {
    background-color: white; 
}

header.transparent .hamburger-icon span {
    background-color: #142A57;
}

header.transparent.scrolled .hamburger-icon span {
    background-color: white;
}

header.transparent.open span{
    background-color: white;
}

/* responsive */
@media (max-width: 1024px) {
    header {
        justify-content: space-between;
    }

    .logo {
        flex: 0 0 auto;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 400px;
        height: 100%;
        background-color: #142A57;
        transition: right 0.3s ease-in-out;
        overflow-y: auto;
    }

    nav.open {
        right: 0;
    }

    header ul {
        flex-direction: column;
        padding: 80px 20px 20px;
        height: auto;
    }

    header li {
        display: block;
        padding: 10px 0;
        text-align: left;
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        height: 100%;
    }

    /* https://developer.mozilla.org/fr/docs/Web/CSS/:nth-child 
    Création de la croix pour sortir du menu hamburger (test de la fonctionnalité => ça fonctionne parfaitement) */
    header.open .hamburger-icon span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    header.open .hamburger-icon span:nth-child(2) {
        opacity: 0;
    }

    header.open .hamburger-icon span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    nav a.top {
        color: white;
    }
}
.img-fond{
    position: relative;
}
.img-fond img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

.titre.visible{
    opacity: 1;
}
.titre h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
}

.titre p {
    padding-top: 10px;
    font-size: 1rem; 
    font-family: "Playfair Display", serif;

}

.img-fond::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55); 
    z-index: 1; 
}

.bleu {
    color: #142A57;
}

h2{
    font-size: 2.25rem;
    display: block;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
}
h3{
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

h4{
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.grid-justes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    gap:30px;
}

.sous-grid-justes img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sous-grid-justes {
    display: grid;
    width: 600px;
    height:100%;
    grid-template-rows: 1fr 150px;
}


.sur-grid-justes{
    width: fit-content;
    margin: 0 auto;
    padding: 60px 20px;
}


.gauche-grid{
    justify-self: end;
}
.droite-grid{
    justify-self: start;
}

.contenu-justes{
    padding: 20px 0px 15px 25px;
    width: fit-content;
    color: white;
}

.fond-bleu{
    background-color: #142A57;
}

.btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 6px;
    border-width: 0;
    font-family: Arial;
    color: #3a3e3f;
    cursor: pointer;
    font-size: 16px;
    background-color: #cfd1c9;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
}  
.btn:hover {
    background: #c1c4b6;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-bleu{
    color: white !important;
    background: #142A57 !important;
}

.btn-bleu:hover{
    background-color: #17397a !important;
    transition: background-color 0.3s ease-in-out; 
}
/* responsive */
@media (max-width: 1340px) {
    .grid-justes {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .sous-grid-justes {
        width: 100%;
        max-width: 645px;
    }

    .gauche-grid, .droite-grid {
        justify-self: center;
    }

    .sur-grid-justes {
        width: 90%;
        max-width: 645px;
        padding: 60px 10px;
    }
}

@media (max-width: 680px) {
    .sous-grid-justes {
        grid-template-rows: auto auto;
    }

    .sous-grid-justes img {
        height: auto;
    }
}
img{
    width: 100%;
    height: 100%;
}

.sect{
    padding: 60px 20px;
    text-align: center;
}

.sous-sect{
    width: fit-content;
    margin: 0 auto;

}

.centrage{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
}
.centrage p{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.blanc h2,.blanc p{
    color: white;
}

.centrage img{
    max-width: 730px;
    margin: 0 auto;
}

.taille-texte-1 p{
    max-width: 730px;
}

.taille-texte-2 p{
    max-width: 860px;
}

.grid-plusdinfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
}

.grid-plusdinfo > div {
    background-color: #142A57;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 150px;
    gap: 45px;
}

.grid-plusdinfo h4 {
    color: white;
    margin: 0;
    font-size: 1.2rem;
}

@media (max-width: 570px) {
    .grid-plusdinfo {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
    footer a{
        display: block;
    }
}

footer section{
    margin: 0 auto;
    max-width: 840px;
    padding: 60px 20px;
}

footer div{
    width: fit-content;
    padding: 30px 20px;
}
footer a{
    padding: 5px 10px 5px 0px;
    text-decoration: underline solid;
}